@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Italic;
    src: url(../fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: Rubik;
    src: url(../fonts/Rubik.ttf);
}

@font-face {
    font-family: Rubik-Italic;
    src: url(../fonts/Rubik-Italic.ttf);
}
@font-face {
    font-family: RubikMonoOne;
    src: url(../fonts/RubikMonoOne.ttf);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



p {
    font-family: 'Rubik', Rubik, sans-serif;
    font-weight: normal;
    margin: 0;
    line-height: 1;
}

.rubik-mono {
    font-family: RubikMonoOne, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 2.5vw;
    margin: 0;

}

/*///////////////////////// NAVBAR //////////////////////////
////////////////////////////////////////////////////////////////*/
.h1-nav {
    padding: 0px 0;
    height: 4vw;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    position: fixed;
}
.h1-nav .navbar-nav .nav-item > .nav-link {
    line-height: 20px;
}
.h1-nav .navbar-nav .nav-item {
    margin: 0 20px;
}
.h1-nav .navbar-nav .nav-item .nav-link {
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 1.46vw;
    padding: 1vw 0.24vw;
    margin-left: 4.5vw;
    color: #000000;
}
.h1-nav .navbar-nav .nav-item:hover .nav-link {
    color: #00896B;
}

.h1-nav .navbar-nav .nav-item:last-child {
    margin-right: 3vw;
}



.best-navbar-logo{
    width: 6.25vw;
    height: 2.5vw;
    /*margin-top: 5px;*/
    /*margin-bottom: 20px;*/
    margin-left: 5vw;
}

/*///////////////////////// INTRO - FIRST BLOCK //////////////////////////
////////////////////////////////////////////////////////////////*/

.header {
    background-color: #ffffff;
}

.container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.first {
    padding-top: 3%;
    padding-bottom: 3%;
    position: relative;
}

/* .language {
    position: absolute;
    right: 0;
    top: -3vw;
    font-size: 1.2vw;
}

.language:hover {
    text-decoration: underline;
} */



.people {
    position: absolute;
    width: 36vw;
    height: 27.63vw;
    margin-left: 13.22vw;
    margin-top: 10vw;
}

.ebec-writing {
    position: absolute;
    width: 28.65vw;
    height: 39.27vw;
    margin-top: 4vw;
}

/*//////////////////////// ABOUT COMPETITION - SECOND BLOCK /////////////////////////
///////////////////////////////////////////////////////////////*/
.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50vw;
}


.about-and-descr{
    height: 20vw;
    width: 100vw;
}

.about-comp {
    background-color: #000000;
    color: #FFFFFF;
    left: 0;
    top: 2vw;
    z-index: 3;

}

.about-comp h1{
    font-family: RubikMonoOne, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 2.5vw;
    padding: 1.5vw 2.5vw 0.75vw 2.5vw;
}

.ebec-descr {
    background-color: #00896B;
    color: #FFFFFF;
    right: 0;
    width: 83vw;
    height: 20vw;
    z-index: 1;
}

.ebec-descr p{
    width: 63vw;
    height: 8vw;
    margin-right: 8.3vw;
    margin-top: 8vw;
    margin-left: 8.3vw;
    font-size: 1.4vw;
    line-height: 2.2vw;
}

.date-of-event{
    margin-top: 1.5vw;
    text-align: left;
    color: #00896B;
}

.date-writing {
    font-size: 2vw;
    line-height: 2.4vw;
}

.days-writing{
    font-size: 2.5vw;
    line-height: 3vw;
}

.two-categories-box {
    width: 100vw;
    height: 4.5vw;
    background-color: #FF94B6;
    margin-top: 7vw;
    margin-bottom: 2vw;
    align-items: center;
    color: #000000;
}

.two-categories{
    margin-top: 1.5vw;
    font-size: 2vw;
    line-height: 2vw;
    text-align: center;

}

/*//////////////////////// TEAM AND CASE STUDY - THIRD BLOCK ////////////////////////
//////////////////////////////////////////////////////////////*/

.thirth {
    display: flex;

    position: relative;
    width: 100%;
    height: 100%;
}

.flipper {
    perspective: 15000px;
    width: 45vw;
    height: 36vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.card-flipper {
    /* Styling */
    width: 45vw;
    height: 36vw;

    /* Card flipping effects */
    transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transition: 0.6s;
}

.grey-flipper {
    background-size: auto auto;
    background: #000000 url('../img/poloski-flipper.png');
    background-size: 45.1vw 36.1vw;
    color: #ffffff;
}

.yel-flipper {
    background-color: #00896B;
    color: #ffffff;
}

.side-flipper {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* Fix Chrome rendering bug */
    transform: rotate(0deg) translateZ(1px);
}



/* Flip the card on hover */
.flipper:hover .card-flipper, .back-flipper-team , .back-flipper-case {
    transform: rotateX(-180deg) translateZ(1px);
    -ms-transform: rotateX(-180deg) translateZ(1px);
    -webkit-transform: rotateX(-180deg) translateZ(1px);
    -moz-transform: rotateX(-180deg) translateZ(1px);
    -o-transform: rotateX(-180deg) translateZ(1px);
}


/* Front styling */
.front-flipper {
    /* Center the name + outline (almost) */
    line-height: 36vw; /* Height - some (because visual center is a little higher than actual center) */
}


.log {
    border-top: 4vw;
    font-size: 2vw;
    margin-top: 13vw;
    line-height: 10vw;
}

/* Back styling */
.back-flipper-team {
    background: #00896B;
    color: #ffffff;
    font-size: 1.5vw;
}

.back-flipper-case {
    background: #000000;
    color: #ffffff;
    font-size: 1.5vw;
}


.back-txt {
    margin-bottom: 2.4vw;
}

.inf {
    margin-top: 9.6vw;
    margin-left: 4.5vw;
    width: 33vw;
}

.team-box {
    background-color: #00896B;
    width: 30vw;
    height: 10vw;
    margin-top: 13.25vw;
    margin-left: 7vw;
    text-align: center;

}

.case-box {
    background-color: #000000;
    width: 30vw;
    height: 10vw;
    margin-top: 13.25vw;
    margin-left: 7vw;
    text-align: center;
    color: #FFFFFF;
}

/*//////////////////////// TERMS OF PARTICIPATION  - FOURTH BLOCK ////////////////////////
//////////////////////////////////////////////////////////////*/

.standart {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    width: 63%;
}

.standart h1 {
    text-align: center;
    margin-bottom: 3.6vw;
    font-weight: normal;
}




.standart h3 {
    text-align: center;
    font-size: 1.8vw;
    color: #333;
    margin-bottom: 3.6vw;
    font-family: 'Roboto-Regular', Arial, sans-serif;
    font-weight: normal;
    line-height: 1.4;
}

.standart p {
    color: #333;
    font-size: 1.5vw;
    font-weight: normal;
}

.standart .condition img {
    width: 6.3vw;
    height: 6vw;
}

/*.jury.photo p, .jury.photo h1, .jury.photo a {
    color: #c8c6c6;
}*/

.eleven .photo a {
    font-size: 1vw;
}

.jury.photo a {
    font-size: 1vw;
}

.condition {
    height: 6vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.6vw;
}

.condition h1 {
    font-size: 1.5vw;
    line-height: 1.9vw;
    margin: 0;
}

.cond_txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 5.5%;
    line-height: 0.8vw;
}

.terms-div {
    display: inline-block;
}
.pink-poloski {
    right: 0;
    vertical-align: middle;
    background: #FF94B6;
    height: 36vw;
    width: 18vw;
    top: 13vw;
}

/*//////////////////////// CAREER DAY - FIFTH BLOCK ////////////////////////
//////////////////////////////////////////////////////////////*/

.career-and-descr{
    height: 20vw;
    width: 100vw;
}

.career-header {
    background-color: #00896B;
    color: #FFFFFF;
    top: 0;
    right: 8.4vw;
    z-index: 3;

}

.career-header h1{
    font-family: RubikMonoOne, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 2.5vw;
    padding: 1.5vw 9.8vw 0.75vw 9.8vw;
}

.career-descr {
    background-color: #000000;
    color: #FFFFFF;
    bottom: 0;
    width: 100vw;
    height: 18vw;
    z-index: 1;
}

.career-descr p{
    width: 66.3vw;
    height: 10vw;
    margin: 6.25vw 16.8vw 4.17vw;
    font-size: 1.5vw;
    line-height: 1.8vw;
}


/*//////////////////////// HOW IT WAS LAST YEAR - SIXTH BLOCK ////////////////////////
//////////////////////////////////////////////////////////////*/

.sixth {
    background-color: #ffffff;
    padding: 7.5% 0;
    width: 100%;
}

.sixth .standart {
    padding: 0;
}

.green-blocks {
    left: 8.4vw;
}

.green-blocks img {
    width: 14vw;
    height: 1.8vw;
}


.how-it-was-last-year {
    left: 0;
    top: 6vw;

}

.how-it-was-last-year img {
    width: 14vw;
    height: 23vw;
}

.gallery {
    position: absolute;
    right: 5vw;
    top: 6vw;
    width: 70vw;
    align-content: center;
}

.gallery .owl-carousel img{
    width: 16vw !important;
    height: 16vw !important;
}

/*//////////////////////// Schedule - SEVENTH BLOCK ////////////////////////
//////////////////////////////////////////////////////////////*/

.seven {
    margin-top: 28vw;
    margin-bottom: 5vw;
}

.seven .row img {
    height: 8.1vw;
    width: 36vw;
}
.seven .row p {
    margin-bottom: 0;
    font-size: 1.875vw;
    font-weight: 700;
    margin-top: 2vw;
}

/*//////////////////////// JURY - NINE BLOCK ////////////////////////
//////////////////////////////////////////////////////////////*/


.standart-jury {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    width: 100%;
}

.jury-container .row h1 {
    margin-top: 3vw;
    font-size: 2vw;
    line-height: 2.5vw;
}

.jury-container {
    background-color: #00896B;
    color: #FFFFFF;
    height: 20vw;
}

.jury-poloski{
    height: 4.5vw;
    width: 100vw;
    margin-top: 14vw;
    bottom: 0;
}
.jury-poloski img{
    background: #00896B;
    height: 4.5vw;
    width: 100vw;
}

/*//////////////////////// PARTNERS - NINE BLOCK ////////////////////////
//////////////////////////////////////////////////////////////*/

.nine {
    background-color: #ffffff;
    margin-top: 8vw;
}

.nine .row {
    margin-top: 4vw;
}

.nine .row:last-child {
    margin-bottom: 4vw;
}

.nine .rubik-mono {
    font-size: 1.5vw;
    line-height: 1.8vw;
}

.nine .our-partners{
    font-size: 2.5vw;
    line-height: 3vw;
}
.partners-black {
    background: #000000;
    padding-left: 4vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 20vw;
    color: #FFFFFF;
}

.partners-white {
    color: #000000;
    padding-left: 4vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 20vw;
}


.partners img {
    transition: 0.2s ease-in;
}

.partners a {
    margin: 0 4.5vw;
}

.partners img:hover {
    transform: scale(1.1);
}

.enext {
    width: 18.5vw;
    height: 8vw;
}

.redbull {
    width: 16vw;
    height: 8vw;
}

.melex {
    width: 20vw;
    height: 7.4vw;
}

.ring {
    width: 22vw;
    height: 9.4vw;
}

.pepsico {
    width: 23vw;
    height: 8vw;
}

.energ {
    width: 18vw;
    height: 8.1vw;
}

.genesis {
    width: 12.6vw;
    height: 12.6vw;
}

.ajax {
    width: 22vw;
    height: 5.3vw;
}

.partners {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    margin-bottom: 4vw;
}

/*//////////////////////// NOT USED??? - TEN BLOCK ////////////////////////
//////////////////////////////////////////////////////////////*/

.ten {
    background-color: #fff;
}

.contacts {
    display: flex;
    justify-content: center;
}

.serg {
    margin-right: 9%;
}

.contacts h1 {
    margin-bottom: 0;
    font-size: 1.4vw;
    color: #f5f5f5;
    text-align: left;
}

.contacts p {
    font-size: 1.3vw;
    color: #f5f5f5;
}

.space {
    margin-bottom: 1vw
}

.up {
    position: absolute;
    left: 2vw;
    top: 27vw;
    z-index: -1;
    transition: 0.5s ease-in-out;
    animation: showone 0.5s ease-in-out;
}

.imag {
    width: 26vw;
    height: 36vw;
    position: relative;
}

.serg {
    background: url("../img/sergei.jpg") 100% 100% no-repeat;
    background-size: cover;
}

.oleg {
    background: url("../img/oleg.jpg") 100% 100% no-repeat;
    background-size: cover;
}


.imag:hover {
    box-shadow: 0 0 0 800px rgba(0, 0, 0, 0.3) inset;
    cursor: pointer;
}

.imag:hover .up {
    top: 23vw;
    z-index: 2;
    animation: show 0.5s ease-in-out;
}

@keyframes showone {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}

@keyframes show {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}


/*//////////////////////// TEAM  - ELEVEN BLOCK ////////////////////////
//////////////////////////////////////////////////////////////*/


.standart-11 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 3vw;
    padding-bottom: 3vw;
    width: 63%;
}

.standart-11 h1 {
    text-align: center;
    margin-bottom: 4.5vw;
    font-weight: normal;
    font-size: 1.8vw;
    line-height: 2.2vw;
}

.eleven .standart-11 {
    width: 100%;
}

.eleven {
    background-color: #FF94B6;
}

.our-team {
    color: #FFFFFF;
}
.photo {
    display: flex;
    text-align: left;
}

.left-member {
    margin-left: 10vw;
}

.right-member {
    margin-right: 20vw;
}

.hide-member {
    opacity: 0;
}
.photo h1 {
    font-size: 1vw;
    line-height: 1.2vw;
    margin-bottom: 0;
    color: #FFFFFF;
    font-family: 'Rubik', Rubik, sans-serif;
    font-weight: 700;
    text-align: left;
}

.photo p, .photo a {
    font-family: 'Rubik', Rubik, sans-serif;
    font-size: 1vw;
    line-height: 1.2vw;
    color: #FFFFFF;
    margin-bottom: 0;
}
.standart-11 .team h1{
    color: #ffffff;
    font-family: 'Rubik', Rubik, sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 1.5vw;
    line-height: 2vw;
}

.standart-11 .our-team {
    text-align: center;
    color: #ffffff;
    margin-bottom: 1vw;
    font-weight: normal;
}


.poloski-team {
    width: 24.2vw !important;
    height: 14vw !important;
}

.poloski-team-top-left{
    top: 6vw;
    left: 0;
}

.poloski-team-bottom-right {
    right: 0;
    bottom: 10vw;
}

.justify {
    margin-bottom: 2vw;
}


.photo img {
    width: 14vw;
    height: 14vw;
}

/*//////////////////////// ABOUT BEST - TWELWE BLOCK ////////////////////////
//////////////////////////////////////////////////////////////*/

.twelwe {
    padding-top: 7%;
    padding-bottom: 10.5%;
    background-color: #ffffff;
}


.best-logo {
    width: 21.4vw;
    height: 11.7vw;
    margin-top: 5vw;
    margin-left: 5.8vw;
}

.best-text {
    color: #FFFFFF;
    background: #000000;
}

.best-text-inner {
    width: 49.5vw;
    height: 13vw;
    vertical-align: middle;
    margin: 4.17vw 8.3vw;
    right: 0;
    font-size: 1.3vw;
    line-height: 1.5vw;
    font-weight: 400;
    padding-top: 3vw;
}

.twelwe p {
    font-size: 1.3vw;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.info_txt {
    width: 46%;
}

.info img {
    align-self: center;
    width: 47%;
    height: 28vw;
}

.size {
    margin-bottom: 40px;
}

/*//////////////////////// VISION MISSION - TWELWE BLOCK ////////////////////////
//////////////////////////////////////////////////////////////*/

.vision{
    height: 14vw;
    width: 100vw;
}

.vertical-label-left {
    background-color: #000000;
    color: #FFFFFF;
    left: 8.5vw;
    top: 0;
    z-index: 3;
}

.vertical-label-left h1{
    font-family: RubikMonoOne, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 2vw;
    padding: 1.56vw 1.56vw 1.56vw 1.56vw;
    width: 4.7vw;
}

.horizontal-info-left {
    background-color: #00896B;
    color: #FFFFFF;
    left: 0;
    top: 1.82vw;
    width: 83.17vw;
    height: 12vw;
    z-index: 1;
}

.horizontal-info-left div{
    width: 50vw;
    height: 7.3vw;
    margin-right: 3.5vw;
    margin-top: 2.5vw;
    margin-left: 16.7vw;
    font-size: 1.8vw;
    line-height: 2.2vw;
}

.horizontal-info-left div h1 {
    font-size: 2vw;
    line-height: 2.5vw;
    font-weight: 700;
}

.horizontal-info-left div p {
    font-size: 1.5vw;
    line-height: 1.8vw;
}

.vertical-label-right {
    background-color: #000000;
    color: #FFFFFF;
    right: 8.5vw;
    top: 0;
    z-index: 3;
}

.vertical-label-right h1{
    font-family: RubikMonoOne, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 2vw;
    padding: 1.56vw 1.56vw 1.56vw 1.56vw;
    width: 4.7vw;
}

.horizontal-info-right {
    background-color: #00896B;
    color: #FFFFFF;
    right: 0;
    top: 1.82vw;
    width: 83.17vw;
    height: 12vw;
    z-index: 1;
}

.horizontal-info-right div{
    width: 50vw;
    height: 7.3vw;
    margin-left: 14vw;
    margin-top: 2.5vw;
    margin-right: 7vw;
    font-size: 1.8vw;
    line-height: 2.2vw;
}

.horizontal-info-right div h1 {
    font-size: 2vw;
    line-height: 2.5vw;
    font-weight: 700;
}

.horizontal-info-right div p {
    font-size: 1.5vw;
    line-height: 1.8vw;
}


.stats-3{
    margin-top: 17vw;
}

.stats-3 img {
    margin-right: 3vw;
}

.stats-3 .col-auto {
    margin-right: 5vw;
}

.stats-3 .col-auto:first-child {
    margin-right: 8vw;
}

.stats-3 .label{
    font-size: 1.3vw !important;
    line-height: 1.56vw !important;
    margin-top: 1.5vw;
}

.stats p{
    font-size: 1.5vw !important;
    line-height: 1.8vw !important;
    padding-top: 1.5vw;
    color: #FFFFFF;
    background: #00896B;
    height: 4vw;
    text-align: center;
}

.label-num {
    width: 6.3vw;
    color: #FFFFFF;
}

.stats {
    display: flex;
    flex-direction: row;
}

.globe{
    width: 4vw;
    height: 4vw;
}

.pin{
    height: 4vw;
    width: 3vw;
}

.members-num {
    width: 8vw;
    color: #FFFFFF;
}

.companies-students {
    margin-bottom: 8vw;
    margin-top: 5vw;
}
.companies-students div {
    margin-right: 3vw;
    margin-left: 3vw;
}
.we-bridge {
    padding-top: 0.005vw;

}


.label-and {
    background: #FF94B6;
    text-align: center;
    height: 4.5vw;
    width: 5.2vw;
    color: #000000;
    padding-top: 1vw;
}


.label-stud-comp {
    color: #000000;
    font-size: 1.875vw;
    line-height: 3vw;
    text-align: center;
}
.stud-comp {
    width: 12.5vw;
    height: 15.7vw;
}

.comp {
    margin-left: 1vw;

}
/*//////////////////////// FOOTER BLOCK ////////////////////////
//////////////////////////////////////////////////////////////*/

.foot {
    background-color: #000000;
		padding: 0.5% 0;
		display:  flex;
		position: relative;

}

.links {
    display: flex;
    margin-left: 7.4vw;
}

.links a {
    height: 1.5vw;
    width: 1.5vw;
    margin-left: 1.5vw;
    margin-bottom: 0.5vw;
}
.language {
	position: absolute;
	text-decoration: none;
	color: #FFFFFF;
	right: 5vw;
	line-height: 1.7vw;
	font-size: 1.3vw;
}

.icon {
    height: 100%;
    width: 100%;
    opacity: 0.7;
}

.icon:hover {
    opacity: 1;
}

.telegram {
}

.item {
    width: 25%;
}
.jury-item {
    width: 25%;
    padding: 0 2vw;
}
.jury-bottom{
    justify-content: center;
}
.kpi{
    width: 10vw;
    height: 10vw;
    position: absolute;
    right: 0;
}
